.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.well{
  background: none !important;
}

/* Header */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



header .themeSelector span{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #dfdfdf;
  
}

header .themeSelector .activeTheme{
  height: 30px;
  width: 30px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CONTAINER */

main h1, main h3, main .info-student, main h4 {
  color: black
}

main.dark h1, main.dark h3, main.dark .info-student, main.dark h4, main.dark .card-title {
  color: white
}

main p, main .info-student-job {
  color: #6b7280 !important;
}

main.dark p, main.dark .info-student-job {
  color: rgba(198, 199, 201, 0.75) !important;
}

main.dark figure, main.dark .card-body {
  background-color: #1f2937;
}

.cardImg {
  height: 250px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 85%;
  border: 1px solid rgba(92, 92, 92, 0.75) !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Pour que le contenu du corps s'étende */
}

.card-title {
  flex-grow: 0; /* Titre ne grandit pas */
}

.card-text {
  flex-grow: 1; /* Le texte occupe le maximum d'espace possible */
}

.card-footer {
  flex-grow: 0; /* Le pied de page ne grandit pas */
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch; /* Aligne les éléments à la même hauteur */
}

figure, .accordion-container {
  border: 1px solid rgba(92, 92, 92, 0.75) !important;
}

figcaption img {
  width: 50px !important;
  margin-right: 1em;
}

button.accordion-button.light:focus{
  box-shadow: none;
  outline: none; 
  background-color: var(--background-light);
  color: var(--text-dark);
}

button.accordion-button.light{
  box-shadow: none;
  outline: none; 
  background-color: var(--background-light);
  color: var(--text-dark);
}

button.accordion-button.dark:focus{
  box-shadow: none;
  outline: none; 
  background-color: var(--background-dark);
  color: var(--text-light);
}

button.accordion-button.dark{
  box-shadow: none;
  outline: none; 
  background-color: var(--background-dark);
  color: var(--text-light);
}

.burger-btn {
  background-color: #f3f4f6;
  color: black;
  border: none;
  font-size: 1.5em;
}

main.dark .burger-btn {
  background-color: #4b5563;
  color: white;
}

.container-cart {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}

/* Footer */
footer, footer a, footer small {
  color: #6b7280;
}

footer.dark, footer.dark a {
  background-color: #1f2937;
  color: #9ca3af;
}

footer a {
  text-decoration: none;
}

footer.dark a:hover {
  text-decoration: underline;
}

footer.dark i:hover {
  color: white;
}